 body {
    background: url('./bgspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;

} 

body h1, h2 {
    margin-left: 50%;
    font-family: 'Ranchers', cursive;
    color: white;
    text-shadow: 0 0 20px rgba(0, 5, 34, 0.699);
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.753);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 7, 73, 0.24);
    color: rgb(0, 0, 56);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    width: 20%;
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card p {
    font-size: .8rem;
}

.container {
    
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    max-width: 900px;
}

.titre-theme {
   font-family: Arial, Helvetica, sans-serif;
   color: lightblue;
    font-size: 0.6rem;
}

.titre-url {
    text-decoration: none;
    color: orangered;
    font-weight: 800;
}

.card-paragraph {
    color: rgb(0, 33, 104);
}

.titre-url:hover {
    color: gray;
}

.titre-site {
    font-family: 'Ranchers', cursive;
    color: rgb(22, 22, 197);
}


/*login.php */
.container-login {
   width: 10%;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 7, 73, 0.24);

}

/* ajoutSite.php */
.container-panel {
     position: relative;
     width: 40%;
     font-family: cursive;
     background-color: rgba(255, 255, 255, 0.5);
     margin: auto;
     padding: 30px;
     box-shadow: 0px 0px 10px rgba(0, 7, 73, 0.24);
    font-family: Arial, Helvetica, sans-serif;

}

.container-panel div {
    margin-top: 10px;
}

.container-panel h2 {
    font-family: 'Ranchers', cursive;
}